<div class="collapse-item">
  <div id="{{ job.slug }}" class="collapse-heading" role="tab">
    <a class="collapse-trigger" href="#{{ job.slug }}-collapse" data-toggle="collapse"
       data-parent="#work-accordion" aria-expanded="false" aria-controls="{{ job.slug }}-collapse">
      <div class="collapse-icon">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
      </div>
      <div class="collapse-title">
        <h3>{{ job.company }}</h3>
        <span class="collapse-period">({{ job.start_date_year }} - {{ job.end_date_year }})</span>
      </div>
    </a>
  </div>

  <div id="{{ job.slug }}-collapse" class="collapse" role="tabpanel" aria-labelledby="{{ job.slug }}">
    <div class="collapse-content">
      {% include resume/work/job.html %}
    </div>
  </div>
</div>
