<div class="project">
  <div class="row">
    <div class="img-col col-sm-4">
      <a href="{{ project.permalink }}">
        <img class="main-image img-fluid" src="{{ project.image }}" alt="{{ project.title }}"
             title="{{ project.title }}">
      </a>
    </div>
    <div class="info-col col-sm-8">
      <h2 class="title">{{ project.title }}</h2>
      <p class="period">{{ project.period }}</p>
      <p class="description">{{ project.description }}</p>

      <ul class="badge-tags">
        {% for technology in project.technologies %}
          <li class="badge-tag">{{ technology }}</li>
        {% endfor %}
      </ul>

      <a class="btn btn-emphasis" href="{{ project.permalink }}">
        Read more <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
