.main-menu {
  border-bottom: 1px solid $separator-color;
  margin-bottom: 2rem;

  @include media-breakpoint-down(sm) {
    margin-bottom: 1rem;
  }

  .navbar-toggler {
    cursor: pointer;
  }

  .navbar-nav {
    .nav-link {
      text-transform: uppercase;
    }
  }
}
