.visual-heading {
  padding-bottom: 0.7rem;
  border-bottom: 1px solid $separator-color;
  margin-bottom: 1.5rem;

  .fa {
    font-size: 1.7rem;
    color: $emphasis-color;
    margin-right: 0.25rem;
  }

  .heading {
    display: inline-block;
    margin-bottom: 0;
    font-family: $display-font;
    font-weight: 400;
  }
}
