{% assign basics = resume.basics %}
{% assign location = basics.location %}

<div class="basics">
  <div class="photo-col">
    <img src="/assets/images/resume/{{ basics.image }}" class="photo" alt="{{ basics.name }}" title="{{ basics.name }}">
  </div>

  <div class="info-col">
    {% include resume/basics/download.html %}

    <h2 class="name">{{ basics.name }}</h2>
    <p class="description">{{ basics.specialization }}, {{ basics.age }} years old</p>

    <div class="hidden-xs-down">
      {% include resume/basics/info_list.html %}
      {% include resume/basics/profiles.html %}
    </div>
  </div>

  <div class="info-row hidden-sm-up">
    {% include resume/basics/info_list.html %}
    {% include resume/basics/profiles.html %}
  </div>
</div>
