<div class="btn-group">
    <button type="button"
            class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        <i class="fa fa-download fa-fw" aria-hidden="true"></i> Download <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="/assets/files/resume/short.docx"><i class="fa fa-file-word-o fa-fw"></i> Short (docx)</a></li>
        <li><a href="/assets/files/resume/full.docx"><i class="fa fa-file-word-o fa-fw"></i> Full (docx)</a></li>
    </ul>
</div>
