<div class="download btn-group">
  <button type="button"
          class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
    <i class="fa fa-download fa-fw" aria-hidden="true"></i> Download <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a href="/assets/files/resume/short.docx">
        <i class="fa fa-file-word-o fa-fw"></i> <span class="extension">docx</span> (short)
      </a>
    </li>
    <li>
      <a href="/assets/files/resume/full.docx">
        <i class="fa fa-file-word-o fa-fw"></i> <span class="extension">docx</span> (full)
      </a>
    </li>
    <li role="separator" class="divider"></li>
    <li>
      <a href="/assets/files/resume/short.pdf">
        <i class="fa fa-file-pdf-o fa-fw"></i> <span class="extension">pdf</span> (short)
      </a>
    </li>
    <li>
      <a href="/assets/files/resume/full.pdf">
        <i class="fa fa-file-pdf-o fa-fw"></i> <span class="extension">pdf</span> (full)
      </a>
    </li>
  </ul>
</div>
