{% assign education = resume.education %}

<div class="education">
  <ul class="meta-list">
    <li>
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <span class="label">{{ education.start_date | date: '%B %Y' }} - {{ education.end_date | date: '%B. %Y' }}</span>
    </li>
    <li>
      <i class="fa fa-book" aria-hidden="true"></i>
      <span class="label">Diploma with honors</span>
    </li>
  </ul>

  <p><b>Institution:</b> {{ education.institution }}</p>
  <p><b>Area:</b> {{ education.area }}</p>
  <p><b>Degree:</b> {{ education.degree }}</p>
  <p><b>GPA:</b> {{ education.gpa }}</p>

  {% collapse 'Courses' %}
    {% include resume/education/courses.html %}
  {% endcollapse %}
</div>
