<div class="interests">
  <div class="toggle">
    <span class="label">Show text</span>
    <i id="interests-toggle" class="fa fa-toggle-on" aria-hidden="true"></i>
  </div>

  {% for interest in resume.interests %}
    {% assign details_names = interest.details | map: 'name' %}

    <p>
      <b>{{ interest.name }}:</b>

      {% for detail in interest.details %}
        {{ detail.emoji }}
      {% endfor %}

      <span class="details-text">{{ details_names | join: ', ' }}</span>
    </p>
  {% endfor %}
</div>
