<div class="references row">
  {% for reference in resume.references %}
    <div class="col-lg-1 col-md-2 col-sm-2 col-lg-12">
      <img src="/assets/images/resume/references/{{ reference.image }}"
           class="photo img-circle center-block"
           alt="{{ reference.name }}"
           title="{{ reference.name }}">
    </div>
    <div class="col-lg-11 col-md-10 col-sm-10 col-lg-12">
      <blockquote>
        <p>{{ reference.text }}</p>
        <footer>
          {{ reference.author }},
          {% if reference.position %}{{ reference.position }}{% endif %}
          {% if reference.company %}
            {{ reference.preposition }} <cite title="{{ reference.company }}">{{ reference.company }}</cite>
          {% endif %}
        </footer>
      </blockquote>
    </div>
  {% endfor %}
</div>
