<div class="references">
  {% for reference in resume.references %}
    {% capture author_position %}
      {% if reference.position %}{{ reference.position }}{% endif %}
      {% if reference.company %}
        {{ reference.preposition }} <cite title="{{ reference.company }}">{{ reference.company }}</cite>
      {% endif %}
    {% endcapture %}

    <div class="reference">
      <div class="photo-col">
        <img src="/assets/images/resume/references/{{ reference.image }}" class="photo" alt="{{ reference.name }}"
             title="{{ reference.name }}">
      </div>
      <div class="author-col hidden-sm-up">
        <p class="name">{{ reference.author }}</p>
        <p class="position">{{ author_position }}</p>
      </div>
      <div class="blockquote-col">
        <blockquote class="blockquote">
          <p>{{ reference.text }}</p>
          <footer class="author hidden-xs-down">
            <span class="name">{{ reference.author }}</span>, {{ author_position }}
          </footer>
        </blockquote>
      </div>
    </div>
  {% endfor %}
</div>
