<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% for job in resume.work_reversed %}
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading-{{ forloop.index }}">
        <h4 class="panel-title">
          <a role="button"
             data-toggle="collapse"
             data-parent="#accordion"
             href="#collapse-{{ forloop.index }}"
             aria-expanded="true"
             aria-controls="collapse-{{ forloop.index }}">
            {{ job.company }} ({{ job.start_date_year }} - {{ job.end_date_year }})
          </a>
        </h4>
      </div>
      <div id="collapse-{{ forloop.index }}"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="heading-{{ forloop.index }}">
        <div class="panel-body">
          <p>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            {{ job.start_date_text }} - {{ job.end_date_text }} (<b>{{ job.work_duration.label }}</b> in total)
          </p>

          <p>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <b>Position:</b> {{ job.position }}
          </p>

          <p>
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            <b>Website:</b> <a href="{{ job.website }}">{{ job.website }}</a>
          </p>

          <p>{{ job.summary }}</p>

          <p><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <b>Technologies:</b></p>
          <p>
            {% for technology in job.technologies %}
              <span class="label label-primary">{{ technology }}</span>
            {% endfor %}
          </p>

          <p><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> <b>Tasks:</b></p>
          <ul>
            {% for task in job.tasks %}
              <li>{{ task }}</li>
            {% endfor %}
          </ul>

          <p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <b>Highlights:</b></p>
          <ul>
            {% for highlight in job.highlights %}
              <li>{{ highlight }}</li>
            {% endfor %}
          </ul>

          <p><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> <b>Results:</b></p>
          <ul>
            {% for result in job.results %}
              <li>{{ result }}</li>
            {% endfor %}
          </ul>

          <p><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> <b>Achievements:</b></p>
          <ul>
            {% for achievement in job.achievements %}
              <li>{{ achievement }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
