// Index

@mixin media-portfolio-index-xs-1 {
  @media (max-width: $portfolio-index-xs-1-max) {
    @content;
  }
}

@mixin media-portfolio-index-xs-2 {
  @media (min-width: $portfolio-index-xs-2-min) and (max-width: $portfolio-index-xs-2-max) {
    @content;
  }
}

@mixin media-portfolio-index-xs-2-down {
  @media (max-width: $portfolio-index-xs-2-max) {
    @content;
  }
}

@mixin media-portfolio-index-xs-3 {
  @media (min-width: $portfolio-index-xs-3-min) and (max-width: breakpoint-max(xs)) {
    @content;
  }
}

@mixin media-portfolio-index-xs-3-up {
  @media (min-width: $portfolio-index-xs-3-min) {
    @content;
  }
}

@mixin portfolio-index-col-xs {
  @include media-portfolio-index-xs-2 {
    @include make-col(8, 12);
    @include make-col-offset(2, 12);
  }

  @include media-portfolio-index-xs-1 {
    @include make-col(10, 12);
    @include make-col-offset(1, 12);
  }
}

// Project

@mixin portfolio-project-main-image($size) {
  margin-top: $size / 2 + $font-size * 2;

  .main-image {
    width: $size;
    height: $size;
    margin-top: -$size / 2;
  }
}

@mixin media-portfolio-project-xs-1 {
  @media (max-width: $portfolio-project-xs-1-max) {
    @content;
  }
}

@mixin media-portfolio-project-xs-2 {
  @media (min-width: $portfolio-project-xs-2-min) and (max-width: breakpoint-max(xs)) {
    @content;
  }
}

@mixin media-portfolio-project-xs-2-up {
  @media (min-width: $portfolio-project-xs-2-min) {
    @content;
  }
}
