{% assign post = include.post %}

<p>
  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
  <span class="date">{{ post.date | date: '%e %b %Y' }}</span>
</p>

{% if include.with_link %}
  <p><a class="title" href="{{ post.url }}">{{ post.title }}</a></p>
{% endif %}

<p>
  <span class="glyphicon glyphicon-book" aria-hidden="true"></span> <b>Categories:</b>
  {% for category in post.categories %}
    <span class="label label-success">{{ category | capitalize }}</span>
  {% endfor %}
</p>

<p>
  <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <b>Tags:</b>
  {% for tag in post.tags %}
    <span class="label label-primary">{{ tag }}</span>
  {% endfor %}
</p>
