<div class="screenshots row">
  <div class="col-lg-3">
    <div class="hidden-md-down">
      {% include portfolio/project/tabs/screenshots_menu.html %}
    </div>

    {% include portfolio/project/tabs/screenshots_collapse_menu.html %}
  </div>
  <div class="col-lg-9">
    <div class="screenshot">
      <div class="loading">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>
      <a class="link"></a>
    </div>
  </div>
</div>
