<div class="download btn-group" role="group">
  <button id="download-dropdown" type="button" class="download-btn" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
    <i class="fa fa-download" aria-hidden="true"></i>
  </button>

  <div class="dropdown-menu" aria-labelledby="download-dropdown">
    <div class="toggle">
      <span class="label">Short</span>
      <i id="download-toggle" class="fa fa-toggle-on active" aria-hidden="true"></i>
    </div>

    <a class="dropdown-item visible" href="/assets/files/resume/short.docx">
      <i class="fa fa-file-word-o"></i>
      <span class="extension">docx</span>
    </a>
    <a class="dropdown-item visible" href="/assets/files/resume/short.pdf">
      <i class="fa fa-file-pdf-o"></i>
      <span class="extension">pdf</span>
    </a>

    <a class="dropdown-item" href="/assets/files/resume/full.docx">
      <i class="fa fa-file-word-o"></i>
      <span class="extension">docx</span>
    </a>
    <a class="dropdown-item" href="/assets/files/resume/full.pdf">
      <i class="fa fa-file-pdf-o"></i>
      <span class="extension">pdf</span>
    </a>
  </div>
</div>
