---
layout: default
---

{% contentfor extrahead %}
  <script src="/assets/js/portfolio_project.js"></script>
{% endcontentfor %}

{% assign project = page.project %}
{% capture first_screenshot %}
/assets/images/portfolio/projects/{{ project.name }}/{{ project.screenshots.first }}.png
{% endcapture %}

<h2>Screenshots</h2>

<div class="row">
  <div class="col-lg-3">
    <ul id="screenshot-menu" class="nav nav-pills nav-stacked">
      {% for screenshot in project.screenshots %}
        <li class="screenshot-menu-item{% if forloop.first %} active{% endif %}">
          <a class="screenshot-menu-item"
             href="#"
             data-src="/assets/images/portfolio/projects/{{ project.name }}/{{ screenshot }}.png"
             data-title="{{ screenshot | humanize }}">{{ screenshot | humanize }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div id="screenshot" class="col-lg-9">
    <div class="loading">
      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>

    <a class="screenshot-link" href="{{first_screenshot}}">
      <img class="screenshot-image img-responsive"
           src="{{ first_screenshot }}"
           alt="{{ project.screenshots[0] | humanize }}"
           title="{{ project.screenshots[0] | humanize }}">
    </a>
  </div>
</div>
