.project-wrap-row {
  &:not(:last-child) {
    @include media-portfolio-index-xs-3-up {
      .project {
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $separator-color;
      }
    }
  }
}

.separator {
  border-top-color: $separator-color;
  margin: 1.5rem 0;

  @include media-portfolio-index-xs-3-up {
    display: none;
  }
}

.project-wrap-col {
  @include media-portfolio-index-xs-2 {
    @include make-col(8, 12);
    @include make-col-offset(2, 12);
  }

  @include media-portfolio-index-xs-1 {
    @include make-col(10, 12);
    @include make-col-offset(1, 12);
  }
}

.project {
  @include media-portfolio-index-xs-3-up {
    margin-bottom: 1.5rem;
  }

  .img-col {
    @include media-portfolio-index-xs-3 {
      @include make-col(4, 12);
    }
  }

  .info-col {
    @include media-portfolio-index-xs-3 {
      @include make-col(8, 12);
    }
  }

  .main-image {
    border: 1px solid $card-border-color;
    border-radius: 4px;
  }

  .title {
    font-size: 1.1rem;

    @include media-portfolio-index-xs-2-down {
      margin-top: 1rem;
    }
  }

  .period {
    font-size: 0.9rem;
    color: $text-muted;
  }

  .description {
    font-size: 0.85rem;
  }
}
