<div class="basic-info jumbotron">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
      <img src="/assets/images/resume/{{ resume.basics.image }}" class="photo center-block" alt="{{ basics.name }}"
           title="{{ basics.name }}">
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
      <p class="description">{{ resume.basics.summary }}</p>
      <hr>
      <ul class="fa-ul">
        {% for fact in home.basic_info.quick_facts %}
          <li class="quick-fact">
            <i class="fa-li fa fa-hand-o-right"></i> {{ fact | liquidify: site.data | markdownify }}
          </li>
        {% endfor %}
      </ul>
      <hr>
      <div class="resume">{% include resume/profiles.html %}</div>
    </div>
  </div>
</div>
