.blog {
  .post {
    &:not(:last-child) {
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $separator-color;
      margin-bottom: 1.5rem;
    }

    .title {
      margin-bottom: 1rem;

      a {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2.1rem;
      }
    }

    .meta {
      color: $text-muted;

      ul {
        @include list-unstyled;

        margin-bottom: 1rem;

        @include media-breakpoint-only(xs) {
          margin-bottom: 0.5rem;
        }

        li {
          display: inline-block;
          margin-right: 1.5rem;

          &:not(:last-child) {
            @include media-breakpoint-only(xs) {
              margin-bottom: 0.5rem;
            }
          }
        }
      }

      .icon, .image {
        margin-right: 0.3rem;
        vertical-align: middle;
      }

      .icon {
        font-size: 1.1rem;
      }

      .label {
        font-size: 0.9rem;
        vertical-align: middle;
      }
    }

    .author {
      margin-bottom: 1rem;

      .image {
        display: inline-block;
        background-image: url(/assets/images/resume/main_photo.jpg);
        background-size: 100% 100%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-shadow: 0 0 3px gray;
      }

      .label {
        display: inline-block;
      }
    }

    .tags {
      @include list-unstyled;

      .tag {
        display: inline-block;
        color: $blue;
      }
    }
  }
}
