@mixin common-post-info {
  .date {
    font-style: italic;
  }
}

.posts {
  .post {
    @include common-post-info;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    .title {
      font-family: $headings-font;
      font-size: 22px;
    }
  }
}

.post-detail {
  @include common-post-info;
}
