.portfolio {
  .project-wrap-row {
    &:not(:last-child) {
      .project {
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $separator-color;
      }
    }
  }

  .project-wrap-col {
    @media (max-width: 349px) {
      @include make-col(10, 12);
      @include make-col-offset(1, 12);
    }

    @media (min-width: 350px) and (max-width: 449px) {
      @include make-col(8, 12);
      @include make-col-offset(2, 12);
    }
  }

  .project {
    margin-bottom: 1.5rem;

    .img-col {
      @media (min-width: 450px) and (max-width: breakpoint-max(xs)) {
        @include make-col(4, 12);
      }
    }

    .info-col {
      @media (min-width: 450px) and (max-width: breakpoint-max(xs)) {
        @include make-col(8, 12);
      }
    }

    .main-image {
      border: 1px solid $card-border-color;
      border-radius: 4px;
    }

    .title {
      font-size: 1.1rem;

      @media (max-width: 449px) {
        margin-top: 1rem;
      }
    }

    .period {
      font-size: 0.9rem;
      color: $text-muted;
    }

    .description {
      font-size: 0.85rem;
    }
  }
}

.portfolio-project {
  .introduction {
    padding: 0 2rem;

    @include portfolio-project-main-image(300px);

    @include media-breakpoint-between(sm, md) {
      @include portfolio-project-main-image(275px);
    }

    @include media-portfolio-project-xs-2 {
      @include portfolio-project-main-image(225px);
    }

    @include media-portfolio-project-xs-1 {
      @include portfolio-project-main-image(175px);
    }

    .intro-data {
      text-align: center;
    }

    .main-image {
      border-radius: 4px;
      box-shadow: 0 0 5px $separator-color;
    }

    .nearby-project {
      display: flex;
      height: 100%;
      align-items: center;

      .fa {
        &:hover {
          opacity: 0.5;
        }

        &.disabled {
          opacity: 0.5;
          cursor: $cursor-disabled;
        }
      }
    }

    .next-project {
      justify-content: end;
    }

    .nearby-project-col {
      padding-left: 0;
      padding-right: 0;
    }

    .nearby-project-top {
      .fa {
        font-size: 2.5rem;

        @include media-portfolio-project-xs-2 {
          font-size: 2rem;
        }

        @include media-portfolio-project-xs-1 {
          font-size: 1.5rem;
        }
      }
    }

    .nearby-project-center {
      .fa {
        font-size: 3rem;

        @include media-breakpoint-only(md) {
          font-size: 2.5rem;
        }
      }
    }

    .title {
      font-size: 3.5rem;
      margin-top: 1.2rem;
      margin-bottom: 1.2rem;

      @include media-breakpoint-between(sm, md) {
        font-size: 3rem;
      }

      @include media-portfolio-project-xs-2 {
        font-size: 2.5rem;
      }

      @include media-portfolio-project-xs-1 {
        font-size: 1.5rem;
        margin-bottom: 0.6rem;
      }
    }

    .period {
      display: flex;
      flex-direction: row;
      font-size: 2rem;
      opacity: 0.7;
      margin-bottom: 0.7rem;

      &:before, &:after {
        content: "";
        flex: 1 1;
        border-style: solid;
        border-width: 2px;
        margin-top: auto;
        margin-bottom: auto;
      }

      &:before {
        margin-right: 1rem;
      }

      &:after {
        margin-left: 1rem;
      }

      @include media-breakpoint-between(sm, md) {
        font-size: 1.75rem;
      }

      @include media-portfolio-project-xs-2 {
        font-size: 1.5rem;
      }

      @include media-portfolio-project-xs-1 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }
    }

    .description {
      font-size: 1.25rem;
      margin-bottom: 1.6rem;

      @include media-portfolio-project-xs-1 {
        font-size: 1rem;
        margin-bottom: 0.8rem;
      }
    }

    hr {
      border-top-width: 3px;
      opacity: 0.7;
      margin-bottom: 2rem;

      @include media-portfolio-project-xs-1 {
        margin-bottom: 1.2rem;
      }
    }

    .technologies {
      margin-bottom: 1rem;

      @include media-portfolio-project-xs-1 {
        margin-bottom: 0.5rem;
      }

      i {
        display: inline-block;
        font-size: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;

        @include media-breakpoint-down(md) {
          margin-left: 0.5rem;
          margin-right: 0.5rem;
        }

        @include media-breakpoint-between(sm, md) {
          font-size: 2.5rem;
        }

        @include media-breakpoint-only(xs) {
          font-size: 2rem;
        }
      }
    }
  }

  .meta {
    margin-bottom: 0;
    border-collapse: separate;
    border-spacing: 0;
    border-top: 1px solid $separator-color;
    border-left: 1px solid $separator-color;
    border-right: 1px solid $separator-color;
    border-radius: 4px;

    @include media-portfolio-project-xs-1 {
      font-size: 0.9rem;
    }

    tr {
      @include media-breakpoint-up(sm) {
        &:first-child {
          background: $faded-bg-color;
        }

        &:nth-child(2n+4) {
          background: $faded-bg-color;
        }
      }

      @include media-breakpoint-only(xs) {
        &:nth-child(odd) {
          background: $faded-bg-color;
        }
      }
    }

    th, td {
      padding: 1rem;
      border-bottom: 1px solid $separator-color;

      @include media-breakpoint-only(xs) {
        padding: 0.75rem;
      }
    }

    th {
      width: 1%;
      font-weight: 500;

      @include media-portfolio-project-xs-2-up {
        vertical-align: middle;
      }
    }

    .named-icon {
      a, .name {
        vertical-align: middle;
      }

      .fa {
        vertical-align: middle;
        margin-left: 0.3rem;
      }
    }

    .link, .accessible {
      .fa {
        &.active {
          color: $brand-success;
        }

        &.inactive {
          color: $brand-danger;
        }
      }
    }

    .link {
      td {
        color: $link-color;
        max-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .status {
      .fa {
        font-size: 0.75rem;

        &.working {
          color: $brand-success;
        }

        &.on-hold {
          color: $brand-warning;
        }

        &.closed {
          color: $brand-danger;
        }
      }
    }

    .companies {
      .chronology {
        @include list-unstyled;

        margin-bottom: 0;

        .chronology-item {
          display: inline-block;
          vertical-align: top;
          color: $link-color;

          @include media-portfolio-project-xs-2-up {
            max-width: 50%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &:not(:last-child) {
              padding-right: 1rem;
              border-right: 1px solid $separator-color;
              margin-right: 1rem;
            }
          }

          @include media-portfolio-project-xs-1 {
            display: block;

            &:not(:last-child) {
              padding-bottom: 0.7rem;
              border-bottom: 1px solid $separator-color;
              margin-bottom: 0.7rem;
            }
          }
        }
      }

      .name {
        color: $body-color;
      }

      .period {
        margin-bottom: 0;
        color: $navbar-light-color;
      }
    }
  }

  .divided-content {
    margin-top: 0.5rem;
    padding-bottom: 1.5rem;

    .nav-tabs {
      justify-content: center;
      border-bottom: 2px solid $separator-color;
      margin-bottom: 1.5rem;

      .nav-item {
        margin-bottom: -1.5px;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
      }

      .nav-link {
        border: none;
        outline: none;
        color: $nav-tabs-active-link-hover-color;
        font-weight: 500;
        padding: 1rem 0.5rem;

        .name {
          vertical-align: middle;
          text-transform: uppercase;
          font-size: 0.9rem;
        }

        .count {
          vertical-align: middle;
          font-weight: 400;
          font-size: 0.75rem;
          margin-left: 0.2rem;
        }

        &.active {
          border-bottom: 2px solid $emphasis-color;
        }
      }
    }
  }

  .details {
    .menu {
      .nav-link {
        color: $body-color;
        padding: 0.3rem 1rem;

        &.level-2 {
          font-weight: 500;
        }

        &.level-3 {
          font-size: 0.9rem;
          padding: 0.3rem 1.5rem;
        }
      }
    }

    .content {
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .screenshots {
    .nav {
      padding-left: 1rem;

      .nav-item {
        &:not(:last-child) {
          padding-bottom: 0.35rem;
          border-bottom: 1px solid $separator-color;
          margin-bottom: 0.35rem;
        }
      }

      .nav-link {
        color: $body-color;
        font-weight: 500;
        padding: 0.3rem;
        outline: none;

        .fa-stack {
          font-size: 1.25rem;
          margin-right: 0.3rem;
        }

        .fa-inverse {
          font-size: 1rem;
        }

        .fa-circle-o {
          display: none;
        }

        .title {
          display: inline-block;
          vertical-align: middle;
        }

        &.active {
          .fa-inverse {
            color: $body-color !important;
          }

          .fa-circle {
            display: none;
          }

          .fa-circle-o {
            display: inline-block;
          }
        }
      }
    }

    .screenshot {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;

      .loading {
        .fa {
          color: $spinner-color;
        }
      }

      img {
        border: 1px solid $card-border-color;
      }
    }
  }
}
