// Colors

$faded-bg-color: darken($body-bg, 3%);
$separator-color: lightgray;
$emphasis-color: coral;

$footer-bg-color: #555;
$footer-text-color: cornsilk;

$folder-color: #ffca28;

// Dimensions

$footer-height: 60px;
$footer-xs-height: 100px;
$footer-profiles-height: $footer-xs-height - $footer-height;

// Fonts

$main-font: 'Roboto', sans-serif;
$code-font: 'PT Mono', monospace;
