// Colors

$faded-bg-color: darken($body-bg, 3%);
$separator-color: lightgray;
$emphasis-color: coral;

$footer-bg-color: #555;
$footer-text-color: cornsilk;

$spinner-color: gray;

// Dimensions

$body-min-width: 320px;
$footer-height: 60px;
$footer-xs-height: 100px;
$footer-profiles-height: $footer-xs-height - $footer-height;
$footer-bottom-offset: 20px;

$portfolio-project-xs-1-max: 420px;
$portfolio-project-xs-2-min: $portfolio-project-xs-1-max + 1px;


// Fonts

$font-size: 16px; // Used for mathematical operations
$main-font: 'Roboto', sans-serif;
$code-font: 'PT Mono', monospace;
