// Colors

$emphasis-color: coral;
$separator-color: lightgray;

$footer-bg-color: #555;
$footer-text-color: cornsilk;

// Dimensions

$footer-height: 60px;
$footer-xs-height: 100px;
$footer-profiles-height: $footer-xs-height - $footer-height;

// Fonts

$main-font: 'Roboto', sans-serif;
$code-font: 'PT Mono', monospace;
